.App {
    background-color: #dbe9fc;
    height: 100vh;
}

#footer {
    position: absolute;
    font-style: italic;
    font-size: 0.80rem;
    padding-bottom: 0.5rem;
    left: 45vw;
    right: 40vw;
    bottom: 0;
}

#profile-link {
    text-decoration: none;
    color: #495057;

}
