@import "/Users/lawrencek1992/Desktop/app_tracker/frontend/node_modules/bootstrap/dist/css/bootstrap.css";

.navigation {
    color: #dbe9fc;
}

#login-link {
    position: absolute;
    right: 23vw;
}

#create-account-link, #logout-link {
    position: absolute;
    right: 9vw;
}

#btn-close-white {
    background-color: #212529;
    border: solid 0.75px;
    border-color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
}
